@font-face {
  font-family: 'AVENIRNEXTCYR';
  src: url('../fonts/AVENIRNEXTCYR-REGULAR.TTF');
}

@font-face {
  font-family: 'AVENIRNEXTCYR';
  src: url('../fonts/AvenirLTStd Black.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AVENIRNEXTCYR';
  src: url('../fonts/AVENIRNEXTCYR-BOLD.TTF');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AVENIRNEXTCYR';
  src: url('../fonts/AVENIRNEXTCYR-MEDIUM.TTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AVENIRNEXTCYR';
  src: url('../fonts/AVENIRNEXTCYR-REGULAR.TTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AVENIRNEXTCYR';
  src: url('../fonts/AVENIRNEXTCYR-LIGHT.TTF');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'AvantGardeCTT';
  src: url('../fonts/AvantGardeCTT.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('../fonts/ITC Avant Garde Gothic LT Bold.otf');
  font-style: normal;
}


@font-face {
  font-family: 'AvenirLTStd';
  src: url('../fonts/AvenirLTStd Black.otf');
  font-style: normal;
}


@font-face {
  font-family: 'circe';
  src: url('../fonts/Circe-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'circe';
  src: url('../fonts/Circe-Regular.ttf');
  font-style: normal;
}


@font-face {
  font-family: 'CRC65';
  src: url('../fonts/CRC65.otf');
  font-style: normal;
}



