@import "reset.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "footer.scss";
@import "header.scss";
@import "home-page.scss";
@import "modal.scss";
@import "product-page.scss";



body {}

.menu {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    color: #6c6c6c;
}

h1 {
    letter-spacing: 1px;
    color: #292929;
    font-size: 36px;
    font-family: Montserrat;
}

h2 {
    font-size: 16px;
    letter-spacing: 5px;
    color: #39b54a;
    font-family: Montserrat;
}

.action-time {
    color: #39b54a;
    border-radius: 22.5px;
    background: #ecebeb;
    padding: 5px;
    font-family: BebasNeue;
    font-size: 10px;
}

.price {
    color: #39b54a;
    font-family: Montserrat;
    font-size: 40px;
    margin-right: 50px;
    font-weight: 600;
}

.old-price {
    font-family: Montserrat;
    font-size: 24px;
    color: #d6d6d6;
    font-weight: 600;

    &__text {
        font-family: Montserrat;
        font-size: 10px;
        color: #d6d6d6;
    }

    &__reviews {
        margin-top: 10px;
        font-family: Montserrat;
        font-size: 14px;
        color: #39b54a;
    }
}

.rating {}

.container {
    margin: auto;
    max-width: 1470px;
}


main {
    width: 100%;
    min-height: calc(100% - 215px);
    padding-top: 100px;
    padding-bottom: 70px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 1024px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }

}


textarea {
    font-family: "circe", sans-serif;
    outline: none;
    width: 100%;
    padding: 23px 73px;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
    resize: none;
    font-size: 16px;
    letter-spacing: 0px;

    @media screen and (max-width: 768px) {
        padding: 18px 60px;
    }
}

.btn {
    margin-top: 23px;

    @media screen and (max-width: 768px) {
        padding: 18px 60px;
        font-size: 20px;
    }

    @media screen and (max-width: 480px) {
        margin-top: 14px;
    }
}