.bottom-form
	.container
		.bottom-form--title You never miss a our offer & deals
		.bottom-form--descr All our deals are time-sensitive! Make sure you don't miss any of our awesome limited-time offers.
		form
			input(type="email" placeholder="Your Email" required)
			button(class="btn btn--green") Subscribe