footer
	.container
		.prefooter
			.prefooterbg
			div You never miss a our offer &amp; deals
			div
			| All our deals are time-sensitive! Make sure you don&apos;t miss any of our awesome limited-time offers.
			form(action='')
			input(type='text')
			button Subscible
		div
			div PRODUCT
			div COMPANY
			div SERP.farm SOCIAL
			div SUBSCRIBE TO NEWSLETTER
		div SERP.farm plugin
		div
			div About
			div Blog
			div FAQ
			div Contact
		div
			i.fb
			i.twitter
			i.yt
		form(action='')
			div
			input(type='text')
			button
				i.message
		div &copy; 2018 SERP.farm All rights reserved