header
	.container
		.burger
			span

		.dropdown-menu
			include main-menu.pug

		a(href="index.html" class="logo")
			img(src='img/logo.png' alt='')
		include main-menu.pug
		a(href="auth.html")
			button.btn.btn--white SIGN IN / LOG IN