.modal--overlay
.modal(data-modal-id="thanks")
	.modal--body
		.modal--close(data-modal-close) X
		.modal--title thank you!
		.modal--text На вашу почту отправлено письмо с адреса:
			b offer@serp.farm
			| с ссылкой/промокодом по интересующему продукту.
			br
			| Если вы не обнаружили письмо в папке Входящие, 
			br
			| возможно письмо пришло в папку СПАМ.
		a(href="" class="modal--link")
			button.btn.btn--green Back on offer-page