.modal--overlay
.modal(data-modal-id="thanks")
	.modal--body
		.modal--close(data-modal-close)
		.modal--title thank you!
		.modal--text На вашу почту отправлено письмо с адреса:
			b offer@serp.farm
			| с ссылкой/промокодом по интересующему продукту.
			br
			| Если вы не обнаружили письмо в папке Входящие, 
			br
			| возможно письмо пришло в папку СПАМ.
		a(href="" class="modal--link")
			button.btn.btn--green Back on offer-page


.modal--overlay
.modal(data-modal-id="thanks-auth")
	.modal--body
		.modal--close(data-modal-close)
		.modal--title thank you!
		.modal--text На вашу почту отправлено письмо с адреса:
			b offer@serp.farm
			| с вашими данными и паролем доступа на наш сайт.
			br
			| Если вы не обнаружили письмо в папке Входящие, 
			br
			| возможно письмо пришло в папку СПАМ.
		a(href="" class="modal--link")
			button.btn.btn--green Back on offer-page


.modal(data-modal-id="restore")
	.modal--body
		.modal--close(data-modal-close)
		.modal--title Restore account
		.modal--text На вашу почту отправлено письмо с адреса:
			b offer@serp.farm
			| с вашими данными и паролем доступа на наш сайт.
			br
			| Если вы не обнаружили письмо в папке Входящие, 
			br
			| возможно письмо пришло в папку СПАМ.
		a(href="" class="modal--link")
			button.btn.btn--green Back on offer-page
