.pagination
	.pagination--prev
	.pagination--item.active 1
	.pagination--item 2
	.pagination--item 3
	.pagination--item 4
	.pagination--item 5
	.pagination--item ...
	.pagination--item 13
	.pagination--next