.rating
	img(src='img/star.svg' alt='' data-id="1")
	img(src='img/star.svg' alt='' data-id="2")
	img(src='img/star.svg' alt='' data-id="3")
	img(src='img/star.svg' alt='' data-id="4")
	img(src='img/star.svg' alt='' data-id="5")
	input(type="text" required name="rating")
	span.error 123