doctype html
head
meta(charset='UTF-8')
title serp.hub
// Fix for iOS Safari zooming bug
meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no')
meta(http-equiv='X-UA-Compatible' content='IE=Edge')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap' rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap' rel='stylesheet')

body(class="home-page")
	include parts/header.pug
	
	main(class=htmlWebpackPlugin.options.page + '-page')
		block content

	include parts/footer.pug

	include parts/modals.pug