extends ../layout.pug

block content
	.container
		.tabs
			.tabs--item SIGN IN
			.tabs--item LOG IN

		div Введите действующий свой email
		input(type="text")
		div Мы вышлем на почту ваш пароль для доступа к своей учетной записи на нашем сайте. Регистрация вам даст возможность пользоваться специальными предложениями по нашим продуктам и продуктам наших партнеров.

		div Нажимая кнопку, вы даете согласие на обработку ваших персональных данных владельцом данного сайта.

		button.btn.btn--green.btn--transparent Registered NOW