extends ../layout.pug
include ../mixins/pandas-list-item.pug

block content
	.container
		.top-block
			.main_pandas
				h2 FEATURED OFFER
				img.right-img.mobile(src='img/telephone.jpg' alt='')
				include ../parts/timer.pug
				h1 SOCIAL PANDAS
				.main_pandas__discription  Social Pandas is the MOST popular service for a reason, clients continue to see INSANE results with their Social Media goals.
				.main_pandas__price
					div
						.price $99 
						include ../parts/rating.pug
					div
						.old-price__text old price
						.old-price $149
						a(href="offers.html#feedback" class="old-price__reviews") 999 reviews
				a(href="offers.html")
					button.btn.btn--green.btn--learn-more Learn More
			img.right-img.desktop(src='img/telephone.jpg' alt='')
	.slider__bg
		.container
			.slider__title RECOMENDED SERVICES
			.main-slider.slider
				each val in [1,2,3,4,5]
					input(type="radio" class="slider__radio" name="slider" id="slide-" + val checked=(val === 3 ? true : false))
				.slider__holder
					each val in [1,2,3,4,5]
						label.slider__item(for="slide-"+ val class="slider__item--" + val)
							+pandas-list-item(val)
				.prev-arrow
				.next-arrow
	.container
		h2.current-offers-title CURRENT OFFERS
		.panel
			.panel--label FILTER 
			.dropdown(data-dropdown)
				.dropdown--value(data-dropdown-value) скоро заканчиваются
				.dropdown__list
					.dropdown__list--item(data-dropdown-item) новые
					.dropdown__list--item(data-dropdown-item) скоро заканчиваются
					.dropdown__list--item(data-dropdown-item) бесплатные
			.input.search-input
				input(type='text' placeholder='Search plugins, sale or tools')
				img(src='img/search.svg' alt='')
		.pandas-list
			each val in [1,2,3,4,5,6]
				+pandas-list-item(val)
		include ../parts/pagination.pug

	include ../parts/bottom-form.pug