extends ../layout.pug
include ../mixins/pandas-list-item.pug

block content
	.container
		div
			.main-descr
				.main-descr--left
					h2.title FEATURED OFFER
					div
						h1 SOCIAL PANDAS
						.ye-line
						.net socialpandas.net
				.main-descr--right
					include ../parts/rating.pug
					a(href="offers.html#feedback" class="old-price__reviews") 999 reviews
					include ../parts/timer.pug
			.main-descr
				div
					.main-descr__descr
						| I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Lorem Ipsum best not make any more threats to your website. It will be met with fire and fury like the world has never seen. I&rsquo;m the best thing that ever happened to placeholder text.
					.main-descr__descr
						| Lorem Ipsum is unattractive, both inside and out. I fully understand why it&rsquo;s former users left it for something else. They made a good decision. An &lsquo;extremely credible source&rsquo; has called my office and told me that Barack Obama&rsquo;s placeholder text is a fraud. My placeholder text, I think, is going to end up being very good with women.
					.main-descr__descr
						| I don't think anybody knows it was Russia that wrote Lorem Ipsum, but I don't know, maybe it was. It could be Russia, but it could also be China. It could also be lots of other people. It also could be some wordsmith sitting on their bed that weights 400 pounds. Ok? Some people have an ability to write placeholder text... It's an art you're basically born with. You either have it or you don't. I think my strongest asset maybe by far is my temperament. I have a placeholding temperament.
				.main-descr__price
					.price $99
					div
						.old-price__text old price
						.old-price $149
					a(href="offer-cart.html")
						button.btn.btn--green Buy Now

		.inner-container
			ul#imageGallery
				each val in [1,2,3,4,5,6]
					li(data-thumb="img/telephone.jpg" data-src="img/telephone.jpg")
						img(src="img/telephone.jpg", alt="")
					li(data-thumb="img/1.jpg" data-src="img/1.jpg")
						img(src="img/1.jpg", alt="")
			.video 
				iframe.video(src='https://www.youtube.com/embed/pat2c33sbog' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

			each val in [{promo: true}, {promo: false}]
				h2.title.offer-title SERP.FARM OFFER
				.price-tag
					.price-tag__title Social Pandas
					.price-tag__sm-title One time purchase of
					if val.promo
						.price-tag__big-title promo-code
					else
						.price-tag__wrap
							.price-tag__big-title $99
							div
								.price-tag__old-price-text old price
								.price-tag__old-price $149
					.price-tag__black-line
					ul
						li LIVE Chat Support &amp; Skype Support (Fluent English Speaking)
						li Our Clients are Famous Instagrammers, Youtubers, Businesses &amp; Musicians
						li 100% Money Back Guarantee (Funds In Balance)
						li Offices Located in LA, Dubai &amp; London

					if val.promo
						a(href="offer-cart.html")
							button.btn.price-tag__btn Use Promo code
					else 
						a(href="offer-cart.html")
							button.btn.price-tag__btn Buy Now

			h2.title.offer-title SERP.FARM OFFER

			.price-tag-small--wrapper
				each val in [1,2,3]
					.price-tag-small
						.price-tag-small__title Social Pandas
						.price-tag-small__sm-title One time purchase of
						.price-tag-small__wrap
							div
								.price-tag-small__old-price-text old price
								.price-tag-small__old-price $149
							.price-tag-small__big-title $99
						.price-tag-small__black-line
						ul
							li LIVE Chat Support &amp; Skype Support (Fluent English Speaking)
							li Our Clients are Famous Instagrammers, Youtubers, Businesses &amp; Musicians
							li 100% Money Back Guarantee (Funds In Balance)
							li Offices Located in LA, Dubai &amp; London
						a(href="offer-cart.html")
							button.btn.price-tag-small__btn Buy Now

			h2.title.offer-title REVIEWS

			.feedback#feedback
				form(class="feedback__form")
					.feedback__form--top
						label(for="") Your name
						input(type='text' maxlength="50" required name="name")

						div Please rate this app
						include ../parts/rating.pug
					
					textarea(placeholder="Type your feedback" maxlength="300" name="text" required)
					button.btn.btn--white(type="submit") Send feedback
				.feedback__list
					.feedback__list__item
						.feedback__list__item--name N&uacute;ria Moura
						.feedback__list__item--rating 
							| User rating 
							include ../parts/rating.pug 
						.feedback__list__item--date May, 10, 2019
						.feedback__list__item--text I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. Lorem Ipsum best not make any more threats to your website. It will be met with fire and fury like the world has never seen. I&rsquo;m the best thing that ever happened to placeholder text.
					.feedback__list__item
						.feedback__list__item--name Hugo Saavedra
						.feedback__list__item--rating  
							| User rating 
							include ../parts/rating.pug 
						.feedback__list__item--date May, 4, 2019
						.feedback__list__item--text Lorem Ipsum is unattractive, both inside and out. I fully understand why it&rsquo;s former users left it for something else. They made a good decision. An &lsquo;extremely credible source&rsquo; has called my office and told me that Barack Obama&rsquo;s placeholder text is a fraud. My placeholder text, I think, is going to end up being very good with women.
					.feedback__list__item
						.feedback__list__item--name Veerle de Bree
						.feedback__list__item--rating  
							| User rating 
							include ../parts/rating.pug 
						.feedback__list__item--date May, 1, 2019
						.feedback__list__item--text I don't think anybody knows it was Russia that wrote Lorem Ipsum, but I don't know, maybe it was. It could be Russia, but it could also be China. It could also be lots of other people. It also could be some wordsmith sitting on their bed that weights 400 pounds. Ok? Some people have an ability to write placeholder text... It's an art you're basically born with. You either have it or you don't. I think my strongest asset maybe by far is my temperament. I have a placeholding temperament.
				a(href="" class="feedback--more") More reviews 
						
	include ../parts/bottom-form.pug