extends ../layout.pug

block content
	.container
		.title Your buying offer
		div Product
		div Social Pandas


		div Оставьте свой email, и мы вышлем вам на почту промокод или ссылку для скачивания продукта
		input(type="email" placeholder="Email")
		div Запомнить мою почту для следующих покупок на этом сайте
		div Нажмите кнопку Купить, ми мы вышлем на email ссылку/промокод, по которойвысожете купить данный продукт с индивидуальной скидкой

		button.btn.btn--green.btn--transparent Buy Now
		div Нажимая кнопку, вы даете согласие на обработку ваших персональных данных владельцом данного сайта.