header {
    // height: 80px;
    padding: 17px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {}

    .menu {
        display: flex;
        justify-content: space-between;

        &__item {

            &:hover,
            &.active {
                a {
                    color: #39b54a; 
                    text-shadow: 0 0 1px #39b54a;
                }
            }

            a {
                text-transform: uppercase;
                display: block;
                padding: 10px 28px;
                color: #6c6c6c;
                font-size: 10px;
                letter-spacing: 2px;

            }
        }

    }
}