header {
    // height: 80px;
    padding: 17px 0;
    height: 85px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .logo {
        @media (max-width: 980px) {
            width: 120px;
        }

        @media (max-width: 480px) {
            width: 95px;
        }
    }

    .btn {
        @media (max-width: 980px) {
            height: 46px;
        }

        @media (max-width: 480px) {
            height: 36px;
            padding: 0 15px;
            width: auto;
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        @media (max-width: 980px) {
            display: none;
        }

        &__item {

            &:hover,
            &.active {
                a {
                    color: #39b54a; 
                    text-shadow: 0 0 1px #39b54a;
                }
            }

            a {
                text-transform: uppercase;
                display: block;
                padding: 10px 28px;
                color: #6c6c6c;
                font-size: 10px;
                letter-spacing: 2px;

                @media (max-width: 1280px) {
                    padding: 10px 20px;
                }

            }
        }

    }
}