.home-page {

    .top-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 100px;
    }

    .main_pandas {
        display: flex;
        justify-content: space-between;
        width: 40%;
        flex-wrap: wrap;
        align-items: flex-start;

        &__discription {
            color: #9fa3a7;
            font-size: 12px;
            font-family: Open Sans;
        }

        &__price {
            display: flex;
            width: 100%;
        }

        .btn {
            margin-top: 20px;
        }

    }

    .right-img {
        width: 55%;
    }

    .slider {

        &__bg {
            width: 100%;
            height: 621px;
            background-color: rgba(214, 214, 214, 0.5);
            padding: 20px 0;
        }

        &__title {
            background: #ffcc2e;
            border-radius: 15px;
            display: inline-block;
            letter-spacing: 5px;
            padding: 10px;
            font-family: Montserrat;
            font-weight: 600;
        }

    }

    .panel {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--label {
            font-family: Montserrat;
            font-size: 10px;
            font-weight: 500;
            color: #6c6c6c;
            margin-right: 10px;
        }

        .dropdown {
            border-radius: 22.5px;
            padding: 5px;
            border: solid 2px #39b54a;
            display: inline-flex;
            margin-right: auto;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: 500;
            color: #6c6c6c;

            &--value {
                font-family: Montserrat;
                font-size: 10px;
                font-weight: 500;
                color: #6c6c6c;

            }

            &__list {
                &--item {}
            }
        }

        .input {
            input {
                background: none;
                border: none;
                width: 100%;
                height: 100%;
                display: block;
                outline: none;
                padding: 10px;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
            }

            width: 405px;
            height: 50px;
            border-radius: 25px;
            background-color: rgba(216, 216, 216, 0.38);
        }
    }

    .pandas-list {

        display: flex;
        justify-content: space-between;

        &__item {
            width: calc(100% / 3 - 15px);
            border: 1px solid #000;

            &--img {
                img {
                    width: 100%;
                    display: block;
                }

            }

            &--title {

                font-family: Montserrat;
                font-size: 24px;

                font-weight: 600;
            }

            &--descr {
                font-family: Open Sans;
                font-size: 12px;

            }

            &--label {
                background: #ffcc2e;
                border-radius: 13px;
                display: inline-block;
                letter-spacing: 2px;
                font-weight: bold;
            }

            &--bottom {
                display: flex;
                justify-content: space-between;

                &>div {
                    &:first-child {
                        width: 50%;
                    }

                    &:last-child {
                        width: 50%;
                    }
                }

            }




        }
    }

}