.modal {

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;

    &[data-modal-id="thanks"] , &[data-modal-id="thanks-auth"], &[data-modal-id="restore"] {
        .modal--body {
            width: 613px;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                margin-top: 30px;
                width: 247px;
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &--close {
        position: absolute;
        right: -23px;
        top: -30px;
        font-size: 19px;
        cursor: pointer;
        background: url(../img/close.svg);
        width: 24px;
        height: 24px;
        background-size: cover;

        svg {
            width: 14px;
            height: 14px;
            display: block;
        }
    }

    &--overlay {
        transition: 0.2s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        z-index: 999;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &.opened {
        .modal-body {
            display: block;
        }
    }

    &--body {
        position: relative;
        transition: 0.2s;
        background: #ffcc2e;
        border-radius: 4px;
        box-shadow: 0 0 40px -30px #000;
    }

    &--title {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: 1px;
        text-align: center;
        color: #292929;
        text-transform: uppercase;

    }

    &--text {
        line-height: 1.7em;
        margin-top: 15px;
        font-family: Open Sans;
        font-size: 14px;
        text-align: center;
        b {
            display: block;
        }
    }

    &--link {
        .btn.btn--green {
            &:hover {
                background: darken($c-green, 10%);
                color: #fff;
                border: 2px solid darken($c-green, 10%);
            }
        }
    }
}